{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/auth/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include "navbar.html" %}
<div class="registation_wrapper">
 <header class="header">
 </header>
 <img src="{% static 'img/mainpage_background.jpg' %}" alt="dormitory_background" class="header__background" >
            <div class="header__title">
<!--                <h1 class="header__title-text">-->
<!--                    Помощник для студентов и <br> абитуриентов Московского политеха-->
<!--                </h1>-->
            </div>
  <form method="POST" class="registration-form">
    {% csrf_token %}
    <h2 class="title title_register">Регистрация</h2>
    <div class="container">
    <div class="form-group">
        <label for="login">Почтовый адрес</label>
        {{ form.email }}
    </div>
    <div class="form-group">
        <label for="group">Группа</label>
        {{ form.study_group }}
    </div>
    <div class="form-group">
        <div class="flex">
            <label class="fullname">Фамилия</label>
            <label class="fullname">Имя</label>
            <label class="fullname">Отчество</label>
        </div>
        <div class="flex">
            {{ form.last_name }}
            {{ form.first_name }}
            {{ form.surname }}
        </div>
    </div>
    <div class="form-group" style="margin-top: 0;">
        <label>Номер телефона</label>
        {{ form.phone }}
    </div>
    <div class="form-group">
        <label>Загрузите фотографию студенческого билета</label>
        <input type="file" name="photo" class="input-field" placeholder="">
    </div>
    <div class="form-group">
        <label>Пароль</label>
        {{ form.password1 }}
    </div>
    <div class="form-group">
        <label>Повторите пароль</label>
        {{ form.password2 }}
    </div>
    <div class="form-group">
        {{ form.is_active }}
    </div>
    <div class="form-group">
            {{ form.is_staff }}
    </div>

    <div class="flex margin">
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Ошибка!</strong> Пожалуйста, исправьте следующие ошибки:
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    </div>
    <div class="flex">
        <!-- <input type="checkbox" id="consent" class="checkbox"> <label class="label_checkbox" for="consent"></label>  -->
        <input type="checkbox" id="headman" class="checkbox">
        <label for="headman"></label>
        <label for="headman" style="margin-left: 10px; margin-right: 7vw;">Я староста</label>

        <input type="checkbox" id="trade_union_organizer" class="checkbox">
        <label for="trade_union_organizer"></label>
        <label for="trade_union_organizer" style="margin-left: 10px;">Я профорг</label>
    </div>
    <button class="registration-button" type="submit">Регистрация</button>
  </div>
</form>
     </div>
     {% include "footer.html" %}
      <script>
        function displayFileName(input) {
            var fileInput = input.files[0];
            var fileName = document.getElementById('file-name');
            fileName.textContent = fileInput.name;
        }
    </script>
</body>
</html>