.accordeon {
    background: white;
    width: 100%;
}

.accordeon-header {
    display: flex;
    justify-content: space-between;
    height: 112px;
    width: 100%;
    padding: 40px 64px;
    background: #874BA0;
    color: white;
}

.accordeon-header__heading {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.accordeon-header__icon:hover {
    cursor: pointer;
    opacity: 0.5;
}

.accordeon-header__icon-svg {
    pointer-events: none;
}

.accordeon-header__icon_arrow.hidden {
    display: none;
}

.accordeon-header__icon_close.hidden {
    display: none;
}

.accordeon-block {
    padding: 32px 64px;
    background: white;
}

.accordeon-block.hidden {
    display: none;
}

.accordeon-block__list {
    font-size: 20px;
    line-height: 140%;
    padding-left: 20px;
}

.accordeon-block__list-item {
    margin-bottom: 16px;
}

.accordeon-block__list-item:last-child {
    margin-bottom: 0px;
}