.main-dorms.is-active {
    display: flex;
}

.main-dorms {
    display: none;
    flex-direction: column;
    align-items: center;
}

.dormitory > section:nth-child(2n+1) {
    background: #eeeeee;
}

.dormitory__wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 120px 20px;
}

.dormitory__pagination-wrapper {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 150px;
}

.dorm-pagination {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 112px);
    gap: 30px;
}

.dorm-pagination__button {
    width: 112px;
    aspect-ratio: 1 / 1;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: none;
    font-size: 64px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.dorm-pagination__item:nth-child(1) .dorm-pagination__button {
    border-top-left-radius: 50px;
}

.dorm-pagination__item:nth-child(5) .dorm-pagination__button {
    border-top-right-radius: 50px;
}

.dorm-pagination__item:nth-last-child(1) .dorm-pagination__button {
    border-bottom-right-radius: 50px;
}

.dorm-pagination__item:nth-last-child(5) .dorm-pagination__button {
    border-bottom-left-radius: 50px;
}

.dorm-pagination__button-active {
    background: #4b6eb9;
    color: white;
}

.dorm-pagination__button:hover {
    background: #b2b2b2;
    transition: 0.5s;
}

.dorm-pagination__button-active:hover {
    background: #4b6eb9;
}

.specifications {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.specifications__button {
    background: none;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    transition: 0.2s;
    margin: 0 20px;
}

.specifications__arrow {
    cursor: pointer;
    width: 35px;
}

.specifications__button:hover {
    background: rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.specifications__image {
    background: url("../../../img/dormitory-photo-test.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 620px;
    height: 410px;
}

.rating {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rating__item {
    margin-bottom: 28px;
}

.rating__title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
}

.estimate {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 382px;
    height: 40px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    background: white;
    gap: 13px;
}

.estimate__item {
    width: 66px;
    height: 100%;
    background: none;
}

.estimate__item:nth-child(1) {
    border-top-left-radius: 100px;
}

.estimate__item:nth-last-child(1) {
    border-bottom-right-radius: 100px;
}

.estimate__item-picked {
    background: #4b6eb9;
}

.price {
    font-family: "Inter";
    font-style: normal;
}

.price__wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price__image {
    width: 120px;
    margin-right: 20px;
}

.price__list {
    list-style: none;
    display: grid; 
    grid-template-columns: 450px 450px;
    grid-column-gap: 350px; 
    gap: 200px;
}

.price__title {
    max-width: 350px;
    font-size: 32px;
    font-weight: 500;
}

.benefits {
    font-family: "Inter";
    font-style: normal;
}

.benefits__wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
}

.benefits__list {
    display: grid;
    grid-template-columns: 450px 450px;
    grid-column-gap: 350px;
    grid-row-gap: 60px;
}

.benefits__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.benefits__item:nth-child(2n) {
    justify-content: flex-start;
}

.benefits__image {
    margin-right: 20px;
    width: 100px;
}

.benefits__title {
    max-width: 350px;
    font-size: 32px;
    font-weight: 500;
}

.parameters {
    font-family: "Inter";
    font-style: normal;
}

.parameters__wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
}

.parameters__list {
    display: grid;
    grid-template-columns: 450px 450px;
    grid-column-gap: 350px;
    grid-row-gap: 60px;
}

.parameters__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.parameters__image {
    margin-right: 20px;
    width: 100px;
}

.parameters__title {
    max-width: 350px;
    font-size: 32px;
    font-weight: 500;
}

.address__wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 20px;
}

.address__heading {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.address__image {
    margin-right: 20px;
}

.address__list {
    position: relative;
    left: 100px;
    list-style-type: "-";
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    font-size: 24px;
    margin-bottom: 40px;
}

.address__map iframe{
    width: 100%;
    height: 500px;
    border: none;
}