.header {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.27));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 0px;
}

.header__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(7px) brightness(50%);
}

.header__logo {
    position: absolute;
    bottom: 20px;
    left: 100px;
    width: 300px;
}

.header__navbar {
    padding: 41px 20px 152px 20px;
    width: 70px;
    height: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background: rgb(30, 30, 30);
    transition: width 0.5s;
    overflow: hidden;
}

.header__navbar--open {
    width: 100%;
}

.header__navbar-menu {
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 50;
    width: 26px;
    height: 26px;
    padding: 2px;
}

.header__navbar--open .header__navbar-menu {
    border: 1px solid white;
    border-radius: 4px;
}

.header__navbar-menu span {
    display: block;
    height: 1px;
    width: 20px;
    background-color: #fff;
    margin-bottom: 8px;
    transition: 0.5s;
}

.header__navbar--open .header__navbar-menu span:nth-child(1) {
    transform: rotate(45deg) translateY(7px) translateX(6px);
}

.header__navbar--open .header__navbar-menu span:nth-child(2) {
    opacity: 0;
}

.header__navbar--open .header__navbar-menu span:nth-child(3) {
    transform: rotate(-45deg) translateY(-7px) translateX(6px);
}

.header__navbar--open .header__navbar-list {
    opacity: 0;
    pointer-events: none;
}

.header__navbar-list {
    margin-top: 279px;
    display: flex;
    flex-direction: column;
    list-style: none;
    transition: 0.5s;
}

.header__navbar-item {
    margin-bottom: 60px;
}

.header__navbar-item-link {
    color: #fff;
}

.header__navbar-item:nth-child(3) {
    margin: 0;
    margin-bottom: 273px;
}

.header__navbar-links {
    position: absolute;
    left: 200px;
    top: 100px;
}

.header__navbar-links__list {
    list-style: none;
}

.header__navbar-links__item {
    margin-bottom: 20px;
}

.header__navbar-links__link {
    color: white;
    font-size: 24px;
}

.dormlist-btn {
    cursor: pointer;
}

.dormlist-btn::after {
    content: "+";
    margin-left: 10px;
}

.dormlist-btn--active::after {
    content: "-";
}

.header__navbar-links__dorms-list {
    position: absolute;
    top: 0;
    left: 350px;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.header__navbar-links__dorms-item {
    margin-bottom: 10px;
}

.header__navbar-links__dorms-link {
    color: white;
}

.header__navbar-links__dorms-list--open {
    opacity: 1;
    pointer-events: all;
    transform: translateX(70px);
}

.header__wrapper {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
}

.header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
}

.header__title-text {
    text-align: center;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 40px;
    /*line-height: 50px;*/
    line-height: 50px;
}

.header__links {
    display: flex;
    gap: 20px;
}

.header__link {
    font-size: 25px;
    background: white;
    padding: 20px 35px;
    width: 250px;
    transition: 0.5s;
    border-radius: 15px;
}

.header__link:hover {
    background: #cccccc;
}

.header__navigation {
    position: absolute;
    bottom: -6%;
    z-index: 992;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
}

.header__navigation-btn.is-active {
    background-color: rgb(75, 110, 185);
    color: #FFFFFF;
}

.header__navigation-btn {
    background-color: #FFFFFF;
    padding: 48px 56px;
    text-align: center;
}

.header__navigation-info {
    background-color: rgb(135, 75, 160);
    border-top-left-radius: 50px;
    color: #FFFFFF;
}

.header__navigation-contacts {
    background-color: rgb(135, 75, 160);
    color: #FFFFFF;
    border-bottom-right-radius: 50px;
}

.header__navigation-btn:hover {
    background-color: rgb(75, 110, 185);
    color: #FFFFFF;
}

@media (max-height: 892px) {
    .header__wrapper {
        padding-top: 0vh;
    }

    .header__navbar-list {
        margin-top: 179px;
    }

    .header__navbar-item {
        margin-bottom: 30px;
    }

    .header__navbar-item-link {
        color: #fff;
    }

    .header__navbar-item:nth-child(3) {
        margin: 0;
        margin-bottom: 143px;
    }
}

.teachers-header .header__wrapper .header__title-text {
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
    margin-top: -300px;
    margin-bottom: 200px;
    margin-left: -120px;
}

.teachers-header {
    background: #4B6EB9E5;
    padding-top: 100px;
}

.teachers-header .header__link {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    white-space: nowrap;
    width: 400px;
    margin-top: 100px;
    margin-left: -120px;
}

.teachers-header .header__link:hover {
    background: rgba(255, 255, 255, 0.2);
}

.shedule-header {
    height: 60px;
    border: 1px solid black;
    background: white;
    margin-bottom: 55px;
}

.shedule-header .header__search {
    border-radius: 999px;
    text-align: center;
    outline: none;
    border: 2px solid black;
    padding: 4px 8px;
    background: white;
}

.header-links {
    background: #4B6EB9;
}

.header__subtitle {
    color: white;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}