{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Справочник студента</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
</head>

<body>
      <header class="header">
        <img src="{% static 'img/hands.jpg' %}" alt="dormitory_background" class="header__background">

        <div class="header__wrapper">
            <div class="header__title">
                <h1 class="header__title-text">
                    Полезные ссылки
                </h1>

            </div>
            <div class="header__links">

                <h2 class="header_article_text">
                    Здесь вы найдете полезные ссылки, которые могут вам пригодиться
                </h2>
            </div>
        </div>
    </header>
    {% include "navbar.html" %}
    <main>
        <section class="links">
            <div class="links__wrapper">
                <ul class="links__list">

                    <li class="links__item link">
                        <h2 class="link__title" onclick="linkOpen(1)">Официальные каналы</h2>
                        <ul class="link__list">
                            <li class="link__item">
                                <a href="" class="link__link">Группа Вконтакте</a>
                            <div class="images">

                            </div>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Канал Телеграм</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Политех Телеграм</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Политех медиа Вконтакте</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Центр карьеры и трудоустройства</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Проектная деятельность</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Кафедра Физическое воспитание МосПолитеха</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">ИТ-факультет Московского Политеха</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Факультет Машиностроения Московский Политех</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Транспортный факультет Московского политеха</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">#ХимБиоТех</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Факультет Экономики и Управления</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Высшая школа печати I Московский Политех</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Институт издательского дела и журналистики Московского политеха</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Привет, Московский политех</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Поступаю (чат для абитуриентов)</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Youtube канал</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Rutube канал</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Яндекс Дзен</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Tik tok</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Центр допольнительного образования</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">ККО Комитет по качеству образования</a>
                            </li>
                        </ul>
                    </li>
                    <li class="links__item link">
                        <h2 class="link__title" onclick="linkOpen(2)">Общежития</h2>
                        <ul class="link__list">
                            <li class="link__item">
                                <a href="" class="link__link">Общежитие №1</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Общежитие №2</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Общежитие №3</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Общежитие №4</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Общежитие №5</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Общежитие №6</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Общежитие №7</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Общежитие №8</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Общежитие №9</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Общежитие №10</a>
                            </li>
                        </ul>
                    </li>
                    <li class="links__item link">
                        <h2 class="link__title" onclick="linkOpen(3)">Внеучебная деятельность</h2>
                        <ul class="link__list">
                            <li class="link__item">
                                <a href="" class="link__link">Афиша внеучебки Московского политеха</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Иллюхионная мастерская</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Вокальный ансамбль</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Творческая мастерская</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Полиграфомания. Студия и альманах</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Клуб настольных игр "Полигранник".</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Яхт-клуб</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Лига интелектуалов</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Волонтерский центр Вконтакте</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Волонтерский центр Телеграм</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Афиша внеучебки Московского политеха</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Nebo | Студенческий педагогический отряд</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Студенческое научное общество</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">FREE DANCE FAMILY</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Команда по чирлидингу "FULL DRIVE"</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Кураторы Московского Политеха</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Лаборатория танца</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">ЦПД МедиаЛаб</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Киноклуб</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">БК Мосполитеха</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Профорганизация Политеха Вконтакте</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Узнать номер проф. билета: @profcommospolytech_bot</a>
                            </li>
                        </ul>
                    </li>
                    <li class="links__item link">
                        <h2 class="link__title" onclick="linkOpen(4)">Неофициальные каналы</h2>
                        <ul class="link__list">
                            <li class="link__item">
                                <a href="" class="link__link">Группа подслушано Вконтакте</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Группа Цитаты перподователей Вконтакте</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Барахолка Телеграм</a>
                            </li>
                        </ul>
                    </li>
                    <li class="links__item link">
                        <h2 class="link__title" onclick="linkOpen(5)">Иностранным гражданам</h2>
                        <ul class="link__list">
                            <li class="link__item">
                                <a href="" class="link__link">Группа Вконтакте для инностранных абитурентов</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Канал Телеграм для инностранных абитурентов</a>
                            </li>
                            <li class="link__item">
                                <a href="" class="link__link">Группа Вконтакте для инностранных студентов</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>
    </main>

    {% include "footer.html" %}

    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>