{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Справочник студента</title>
</head>

<body>
    <header class="header">
        <img src="{% static 'img/mainpage_background.jpg' %}" alt="dormitory_background" class="header__background">

        <div class="header__wrapper">
            <div class="header__title">
                <h1 class="header__title-text">
                    Помощник для студентов и абитуриентов <br> Московского политеха
                </h1>
            </div>
            <div class="header__links">
                {% if user.is_authenticated %}
                    <li class="header__title">
                        <h1 class="header__title-text" href="">Пользователь: {{ user.first_name }} {{ user.last_name }}</h1>
                        <a href="{% url 'logout' %}" class="header__link">Выйти</a>
                    </li>
                {% else %}
                <a href="{% url 'login' %}" class="header__link">Авторизация</a>
                <a href="{% url 'register' %}" class="header__link">Регистрация</a>
                
                {% endif %}
               
            </div>
        </div>
    </header>
    {% include "navbar.html" %}
    <main>
        <section class="pages">
            <ul class="pages__list">
                <li class="page">
                    <div>
                        <h2 class="page__heading">Расписание</h2>
                        <img src="{% static 'img/schedule_home.svg' %}" alt="" class="page__icon">
                        <p class="page__text">Актуальное расписание для вашего комфорта и органицзации времени</p>
                    </div>
                    <a href="{% url 'rasp' %}" class="page__button">Подробнее</a>
                </li>
                <li class="page">
                    <div>
                        <h2 class="page__heading">Общежития</h2>
                        <img src="{% static 'img/bed.svg' %}" alt="" class="page__icon">
                        <p class="page__text">Уютные общежития: ваш дом вдали от дома</p>
                    </div>
                    <a href="{% url 'hostels' %}" class="page__button">Подробнее</a>
                </li>
                <li class="page">
                    <div>
                        <h2 class="page__heading">Требования преподавателей</h2>
                        <img src="{% static 'img/human.svg' %}" alt="" class="page__icon">
                        <p class="page__text">Ваш путеводитель к знаниям и ресурсам</p>
                    </div>
                    <a href="{% url 'teachers' %}" class="page__button">Подробнее</a>
                </li>
                <li class="page">
                    <div>
                        <h2 class="page__heading">Полезные ссылки</h2>
                        <img src="{% static 'img/link.svg' %}" alt="" class="page__icon">
                        <p class="page__text">Основные требования преподователя к студентам: как достичь успеха в учебе</p>
                    </div>
                    <a href="{% url 'links' %}" class="page__button">Подробнее</a>
                </li>
            </ul>
        </section>
    </main>
    
    {% include "footer.html" %}


    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>