.footer {
    background: #1e1e1e;
    font-family: "Verdana", sans-serif;
    font-weight: 400;
}

.footer__wrapper {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 59px 80px 121px 80px;
}

.footer__list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
}

.footer__item {
    margin-bottom: 37px;
}

.footer__link {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 34px;
}

.footer__list-icons {
    list-style: none;
    position: absolute;
    bottom: 45px;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__item-icons {
    margin-right: 15px;
}

.footer__link-icons svg {
    width: 30px;
    fill: white;
}

.footer__link-icons--current svg {
    fill: none;
    stroke: white;
}