.main-goods.is-active {
    display: flex;
}

.main-goods {
    display: none;
    width: 856px;
    flex-direction: column;
    align-items: center;
    padding-top: 146px;
    padding-bottom: 128px;
}

.main-goods-accordeons {
    width: 100%;
    border-radius: 50px 0 50px 0;
    overflow: hidden;
}

.main-goods-accordeon-header_2 {
    background: black;
    color: white;
}

.main-goods-accordeon-header_3 {
    background: #4B6EB9;
    color: white;
}

.main-goods-accordeon-header_4 {
    background: white;
    color: black;
}