.main-info.is-active {
    display: block;
}

.main-info {
    display: none;
    /* flex-direction: column;
    align-items: center;
    max-width: 856px; */
    padding-top: 100px;
}

.info__header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info__title {
    font-family: "Verdana", sans-serif;
    font-weight: 700;
    color: rgb(30, 30, 30);
    font-size: 48px;
    line-height: 35px;
    margin-bottom: 118px;
}

.info-select {
    font-family: "Verdana", sans-serif;
    font-weight: 400;
    cursor: pointer;
    font-size: 32px;
    line-height: 53px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 95px;
}

.info-select__card.dormitory-types {
    background: #FFFFFF;
    padding: 53px 35px;
}

.info-select__card.rules {
    background: #FFFFFF;
    padding: 53px 80px;
}

.info-select__card.residence {
    background: #FFFFFF;
    padding: 53px 80px;
}

.info-select__card.is-active {
    background: rgb(75, 110, 185);
    color: #FFFFFF;
}

.info.is-active {
    display: block;
}

.info {
    display: none;
}

.info__headers {
    display: grid;
    justify-content: center;
    text-align: center;
    align-content: center;
    grid-template-columns: 0.8fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    font-family: "Verdana", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 11px;
}

.info__headers .info__header-none {
    visibility: hidden;
}

.info__headers .info__header-corridor {
    background-color: rgb(75, 110, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 5px;
}

.info__headers .info__header-block {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(75, 110, 185);
    padding: 5px 5px;
}

.info__headers .info__header-flat {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(75, 110, 185);
    padding: 5px 5px;
}

.info__headers .info__header-comfort {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(75, 110, 185);
    padding: 5px 5px;
}

.info__about {
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 0.8fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 8px;
}

.info__about-text {
    height: 147px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    font-family: "Verdana", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
    padding: 25px 11px;
}

.info__about-text:nth-child(5n+1) {
    visibility: hidden;
}

.info__about-text_bold {
    font-family: "Verdana", sans-serif;
    font-weight: 700;
}

.info__icon {
    margin-top: 30px;
}

.info.rules.is-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info.rules .info-rules__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 855px;
}

.info.rules .info-rules__ejectment {
    width: 855px;
    text-align: center;
    border-radius: 100px 0px 0px 0px;
    background: rgb(124, 81, 161);
    padding: 42px 47px 48px 84px;
}

.info.rules .info-rules__ejectment-title {
    display: block;
    position: relative;
    cursor: pointer;
    text-align: left;
    font-family: "Verdana", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 53px;
    color: #FFFFFF;
}

.info.rules .info-rules__ejectment-title span {
    background-color: #FFFFFF;
}

.info.rules .info-rules__ejectment-text {
    color: #FFFFFF;
}

.info.rules .info-rules__ejectment-text-application {
    margin-bottom: 30px;
}

.info.rules .info-rules__ejectment-text-application-list {
    margin-left: 30px;
    margin-bottom: 30px;
}

.info.rules .info-rules__ejectment-text-application-list-element-link {
    color: #FFFFFF;
}

.info.rules .info-rules__ejectment-text-timescales-list {
    margin-left: 30px;
}

.info.rules .info-rules__migration {
    width: 855px;
    text-align: center;
    padding: 42px 47px 48px 84px;
    background: #FFFFFF;
}

.info.rules .info-rules__migration-title {
    display: block;
    font-family: "Verdana", sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 24px;
    line-height: 53px;
    color: #000000;
    position: relative;
    cursor: pointer;
}

.info.rules .info-rules__migration-title span {
    background-color: #000000;
}

.info.rules .info-rules__migration-text {
    color: #000000;
}

.info.rules .info-rules__migration-text-application {
    margin-bottom: 30px;
}

.info.rules .info-rules__migration-text-application-list {
    margin-left: 30px;
    margin-bottom: 30px;
}

.info.rules .info-rules__migration-text-application-list-element-link {
    color: #000000;
}

.info.rules .info-rules__migration-text-timescales-list {
    margin-left: 30px;
}

.info.rules .info-rules__concession {
    width: 855px;
    padding: 42px 47px 48px 84px;
    text-align: center;
    background: #1E1E1E;
}

.info.rules .info-rules__concession-title {
    display: block;
    text-align: left;
    font-family: "Verdana", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 53px;
    color: #FFFFFF;
    cursor: pointer;
}

.info.rules .info-rules__concession-title span {
    background-color: #FFFFFF;
}

.info.rules .info-rules__concession-text {
    color: #FFFFFF;
}

.info.rules .info-rules__concession-text-application {
    margin-bottom: 30px;
}

.info.rules .info-rules__concession-text-application-list {
    margin-left: 30px;
    margin-bottom: 30px;
}

.info.rules .info-rules__concession-text-application-list-element-link {
    color: #FFFFFF;
}

.info.rules .info-rules__concession-text-timescales-list {
    margin-left: 30px;
}

.info.rules .info-rules__temporary {
    width: 855px;
    text-align: center;
    padding: 42px 47px 48px 84px;
    background: rgb(75, 110, 185);
    border-radius: 0px 0px 100px 0px;
}

.info.rules .info-rules__temporary-title {
    display: block;
    font-family: "Verdana", sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 24px;
    line-height: 53px;
    color: #FFFFFF;
    cursor: pointer;
}

.info.rules .info-rules__temporary-title span {
    background-color: #FFFFFF;
}

.info.rules .info-rules__temporary-text {
    color: #FFFFFF;
}

.info.rules .info-rules__temporary-text-application {
    margin-bottom: 30px;
}

.info.rules .info-rules__temporary-text-application-list {
    margin-left: 30px;
    margin-bottom: 30px;
}

.info.rules .info-rules__temporary-text-application-list-element-link {
    color: #FFFFFF;
}

.info.rules .info-rules__temporary-text-timescales-list {
    margin-left: 30px;
}

.info.rules .info-rules__title {
    transition: 0.4s ease-in-out;
    position: relative;
}

.info.rules .info-rules__title span {
    bottom: 40%;
    transition: 0.4s ease-in-out;
}

.info.rules .info-rules__title .left {
    rotate: 45deg;
    height: 3px;
    width: 25px;
    position: absolute;
    right: 16px;
    margin-left: auto;
    display: block;
}

.info.rules .info-rules__title .right {
    rotate: -45deg;
    height: 3px;
    width: 25px;
    position: absolute;
    right: 0;
    margin-left: auto;
    display: block;
}

.info.rules .info-rules__text {
    text-align: left;
    font-family: "Verdana", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

.info .info-rules__main_active .info-rules__text {
    max-height: 1080px;
    overflow: visible;
}

.info .info-rules__main_active .info-rules__title {
    margin-bottom: 10px;
    margin-left: 45px;
}

.info .info-rules__main_active .info-rules__title .left {
    right: 0;
    rotate: 135deg;
}

.info .info-rules__main_active .info-rules__title .right {
    rotate: -135deg;
}

.info.residence .info-residence__wrapper {
    text-align: center;
    background: #FFFFFF;
    border-radius: 100px 0;
    padding: 53px 39px 74px 39px;
}

.info.residence .info-residence__subtext {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 41px;
}

.info.residence .info-residence__subtext-quest {
    width: 50%;
    font-family: "Verdana", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-right: 10px;
}

.info.residence .info-residence__subtext-about {
    text-align: left;
    font-family: "Verdana", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.info.residence .info-residence__responsibilities {
    background: rgb(124, 81, 161);
    padding: 59px 55px;
    border-radius: 100px 0px;
    margin-bottom: 29px;
}

.info.residence .info-residence__responsibilities-title {
    font-family: "Verdana", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin-bottom: 42px;
}

.info.residence .info-residence__responsibilities-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Verdana", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.info.residence .info-residence__responsibilities-list-text {
    text-align: left;
    margin-bottom: 20px;
}

.info.residence .info-residence__rules {
    font-family: "Verdana", sans-serif;
    font-weight: 400;
    color: rgb(30, 30, 30);
    width: 100%;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.info.residence .info-residence__rules-link {
    color: rgb(30, 30, 30);
}