*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Verdana';

 }
 body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   color: #fff;
 }

 .registration-form {
   width: 811px;
   margin: 0 auto;
   background: #4B6EB9;
   border-radius: 20px;
   margin-top: 400px;
 }
 
 h2 {
   text-align: center;
   font-size: 35px;
   font-weight: 700;
   margin-top: 50px;
   position: relative;
   margin-bottom: 80px;
 }

 h2::after{
   content: "";
   position: absolute;
   bottom: -40px;
   left: 0;
   width: 450px; 
   background-color: #FFFFFF;
   margin-left: 180px;
   border: 1px solid #FFFFFF;

 }

 .form-group {
   margin-bottom: 20px;
   margin-left: 166px;
   margin-right: 166px;
   position: relative;
 }
 
 label {
   display: block;
   font-weight: 400;
   font-style: normal;
   margin-bottom: 5px;
   font-size: 16px;
   
 }
 
 input[type="text"], input[type="file"] {
   display: block;
   width: 100%;
   padding: 10px;
   /* height: 35px; */
   border-radius: 10px;
   border: none;
 }
 input[type="file"]::-webkit-file-upload-button {
   display: none;
   background-color: #000;
   color: #fff;
   border: none;
   border-radius: 10px;
   cursor: pointer;
}
input[type="file"] {
   display: block;
   width: 100%;
   padding: 10px;
   border-radius: 5px;
   border: none;
   background-color: #fff;
}

label[for="file"] {
   display: block;
   font-weight: 400;
   font-style: normal;
   margin-bottom: 5px;
   font-size: 15px;
   text-align: left;
   line-height: 19px;
   margin-top: 75px;
}

 .radio-group {
   display: flex;
   justify-content: space-between;
   margin-top: 42px;
 }
 
 .choice {
  display: flex;
 }

 
 .radio-group label {
   margin-right: 5px;
 }
 
 .radio-group input[type="checkbox"] {
   margin-right: 10px;
   accent-color: #000;
 }
 
 .surname-group {
   display: flex;
 }
 
 .surname-group input[type="text"] {
   width: calc(100% / 3);
   margin-right: 5px;
 }
 
 .registration-button {
   background-color: #3A3A3A;
   color: #fff;
   height: 73px;
   width: 360px;
   font-size: 25px;
   font-weight: 700;
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   cursor: pointer;
   margin-top: 0px;
   margin-left: 226px;
   margin-bottom: 50px;
 }

 .input-icon{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 30px;
  left: 10px;
 }
 
 .myemail{
  display: block;
  width: 100%;
  padding: 10px;
  /* height: 35px; */
  border-radius: 10px;
  border: none;
  outline-style: none;
  outline: none;
 }
 
 .mypassword{
  display: block;
  width: 100%;
  padding: 10px;
  /* height: 35px; */
  border-radius: 10px;
  border: none;
  outline: none;
  height: 60px;
 }

 #id_password1{
  display: block;
  width: 100%;
  padding: 10px;
  /* height: 35px; */
  border-radius: 10px;
  border: none;
  outline: none;
 }
 #id_password2{
  display: block;
  width: 100%;
  padding: 10px;
  /* height: 35px; */
  border-radius: 10px;
  border: none;
  outline: none;
 }

 .error-message {
  color: red;
  margin-bottom: 10px;
}

.error-message ul {
  list-style-type: none;
  padding: 0;
}

.error-message li {
  margin-bottom: 5px;
}
