*{
   margin: 0;
   padding: 0;
   /* box-sizing: border-box; */
   font-family: 'Verdana';
}
h1{
    font-style: normal;
    color: #FFFBFB;
    width: 686px;
    height: 39px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 117px;
    padding-bottom: 43px;
    margin-top: 50px;
    margin-bottom: 78px;
}
form{
    margin: 67px;
    background-color: #4b6eb9;
    position: absolute;
    width: 757px;
    height: 665px;
    border-radius: 20px;
    padding: 40px;
}
label{
    color: #FFFFFF;
    padding-left: 139px;
    margin-bottom: 60px;
}
.input{
    margin-bottom: 60px;
    padding-left: 139px;
}
input{
    height: 35px;
    width: 479px; 
    border-radius: 10px;
    margin-top: 15px;
    
    /* padding-left: 139px; */
    border: none;   

    font-family: 'Verdana';
    font-style: bold;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;

}
button{
    background: #3A3A3A;
    border-radius: 20px;
    border: none; 
    width: 360px;
    height: 73px;
    font-weight: 700;
    font-size: 25px;
    align-items: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 29px;
}
a{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    padding-left: 164px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 30px;
}


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Verdana';

 }
 body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   color: #fff;
 }

 .registration-form {
   width: 811px;
   height: 712px;
   margin: 0 auto;
   background: #4B6EB9;
   border-radius: 20px;
 }
 
 h2 {
   text-align: center;
   font-size: 35px;
   font-weight: 700;
   margin-top: 50px;
   position: relative;
   margin-bottom: 80px;
 }

 h2::after{
   content: "";
   position: absolute;
   bottom: -40px;
   left: 0;
   width: 450px; 
   background-color: #FFFFFF;
   margin-left: 180px;
   border: 1px solid #FFFFFF;

 }

 .form-group {
   margin-bottom: 20px;
   margin-left: 166px;
   margin-right: 166px;
 }
 
 label {
   display: block;
   font-weight: 400;
   font-style: normal;
   margin-bottom: 5px;
   font-size: 16px;
   
 }
 
 input[type="text"], input[type="file"] {
   display: block;
   width: 100%;
   padding: 10px;
   /* height: 35px; */
   border-radius: 5px;
   border: none;
 }
 input[type="file"]::-webkit-file-upload-button {
   background-color: #000;
   color: #fff;
   border: none;
   border-radius: 10px;
   cursor: pointer;
}
input[type="file"] {
   display: block;
   width: 100%;
   padding: 10px;
   border-radius: 5px;
   border: none;
   background-color: #fff;
}

label[for="file"] {
   display: block;
   font-weight: 400;
   font-style: normal;
   margin-bottom: 5px;
   font-size: 15px;
   text-align: left;
   line-height: 19px;
   margin-top: 75px;
}

 .radio-group {
   display: flex;
   justify-content: space-between;
   margin-top: 42px;
 }
 
 .radio-group label {
   margin-right: 5px;
 }
 
 .radio-group input[type="radio"] {
   margin-right: 5px;
 }
 
 .surname-group {
   display: flex;
 }
 
 .surname-group input[type="text"] {
   width: calc(100% / 3);
   margin-right: 5px;
 }
 
 /* .registration-button {
   background-color: #3A3A3A;
   color: #fff;
   height: 73px;
   width: 360px;
   font-size: 25px;
   font-weight: 700;
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   cursor: pointer;
   margin-top: 0px;
   margin-left: 226px;
 } */

 
